<form novalidate class="container">
    {{guitar}}
    <div class="form-group">
        <label class="col-sm-3 control-label">Бранд</label>
        <div class="col-sm-9 ">
            <select class="form-control"
                    ng-model="guitar.brand_id"
                    ng-options="brand.id as brand.name for brand in brands">
                <option value="">-- Выбирите бренд --</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Тип</label>
        <div class="col-sm-9 ">
            <select class="form-control"
                    ng-model="guitar.type_id"
                    ng-options="type.id as type.name for type in types">
                <option value="">-- Выбирите Тип --</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Количество струн</label>
        <div class="col-sm-9 ">
            <div class="radio-inline" ng-repeat="count in strings_number">
                <input type="radio"
                       name="strings_number"
                       value="{{count}}"
                       j-shop-number
                       ng-model="guitar.strings_number"> {{count}}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-default" ng-click="save()">Сохранить</button>
</form>